:root {
    --primary: red;
    --secondary: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(55,55,55);
    background: radial-gradient(circle at 90% 90%, rgba(55,55,55,1) 0%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
    max-width: 55vw;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

header {
    flex: 1;
    padding: 1rem;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.nav-btns ul a {
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.nav-btns ul a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--primary);
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
}

.nav-btns ul a:hover::before {
    transform: scaleY(1);
}

/* header */

/* main body */

.flex-container {
    flex: 10;
    display: flex;
    align-items: center;
}

.feature-1-container {
    flex: 1;
    height: 40vh;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project {
    background-color: var(--primary);
    padding: 1rem;
}

.project-info {
    display: flex;
}

.project-info ul li {
    list-style: none;
    margin: 1rem;
}

.project-info ul li b {
    color: var(--primary);
}

.project-info-1 {
    justify-content: end;
    margin: 2rem;
}

.project-info-1 ul li {
    text-align: end;
    margin-top: 0;
}

.vertical-border {
    height: 40vh;
    border-right: 1px solid var(--primary);
}

.feature-2-container {
    flex: 1;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-info-2 {
    margin: 2rem;
}

.project-info-2 ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-info-2 ul li {
    margin-bottom: 0
}

/* main body */

/* footer */

footer {
    flex: 1;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 1rem
}

.footer-wrapper a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primary);
}

.footer-wrapper a:hover {
    color: var(--secondary);
}

/* footer */