* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(55,55,55);
    background: radial-gradient(circle at 90% 90%, rgba(55,55,55,1) 0%, rgba(0,0,0,1) 100%);
    min-height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

/* Header start */

header {
    padding: 2rem;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.nav-btns ul a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
}

.nav-btns ul a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: red;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
}

.nav-btns ul a:hover::before {
    transform: scaleY(1);
}

/* Header end */

/* Body start */

.body-container {
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    width: 50vw;
}

.name-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 7rem;
}

.title-name {
    background-color: red;
    border-top: 18vw;
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
    margin: 0;
}

.title-profession {
    font-size: 3rem;
    text-align: end;
    padding: 1rem;
    margin: 3rem 0;
}

.vertical-border {
    height: 50vh;
    width: 0;
    border-left: 1px solid red;
}

.about-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 7rem;
}

.about-section {
    font-size: 1.7rem;
    margin: 1rem;
}

.portfolio-btn-container {
    margin-top: 4rem;
}

.portfolio-btn-container button {
    background-color: red;
    border: none;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    z-index: 1;
    transition: color 300ms ease-in-out;
}

.portfolio-btn-container button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.portfolio-btn-container button:hover::before {
    transform: scaleX(1);
}

.portfolio-btn-container button:hover {
    color: red;
}
/* Body end */

/* Footer start */

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 2rem
}

.footer-wrapper ul a {
    text-decoration: none;
    font-size: 2rem;
    color: red;
    margin-left: 4rem
}

/* Footer end */